<!DOCTYPE html>
<html>
  <head>
    <title>DonBotasMeat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
      
    <% else %>
    <!-- Image and text -->
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          DonBotasMeat
        </a>
      </nav>
      <div class="container mt-5">
        <%= yield %>
      </div>
    <% end %>
    
  </body>
</html>
